@charset "UTF-8";

@font-face {
    font-family: 'fonte-personalizada';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font: normal Arial;
}

strong {
    color: #195c36;
}

a {
    text-decoration: none;
    color: #195c36;
}

img {
    display: block;
    margin: auto;
}

#video {
    display: block;
    margin: auto;
}

#area-do-video {
    background-color: #195c36;
    display: block;
    margin: auto;
}

#topo {
    background-image: linear-gradient(180deg, rgb(57,214,126), rgb(25,92,54));
    height: 280px;
    padding-top: 30px;
    box-shadow: 10px 2px 10px black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#cabeçalho {    
    text-align: center;
    font-size: 1.5em;
    text-shadow: 2px 2px 10px rgba(40, 40, 40, 0.628);
}

#cabeçalho p {
    margin-top: 5px;
}

#navegation {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    
    margin-left: 10px;
    margin-top: 55px;
    
    font-size: 1.4em;
}

#navegation a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
}

#navegation a:hover {
    background-color: #84e0ad;

}

#body {
    margin: -22px 0px 0px 0px;
    align-items: center;
    background-color: #84e0ad;
}

#corpo {
    width: 900px;

    padding: 10px;
    margin: 1px 80px 0px 80px;
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    box-shadow: 2px 2px 10px black;
    
    background-color: rgb(255, 255, 255);
    
}

#titulo {
    font-family: 'fonte-personalizada';
    color: #195c36;
}

#list-box {
    background-color: rgba(146, 241, 191, 0.491);
    border-radius: 10px;
    height: 450px;
    box-shadow: 1px 1px 7px rgb(76, 76, 76);
}

#list-box p {
    margin: 9px 12px 9px 12px;

}

#box-title {
    padding: 9px 7px 7px 10px;   
    height: 30px;
    
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(6, 196, 116);
    color: white;

    font-family: 'Open Sans', sans-serif;
}

#lista {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    column-gap: 300px;
}

#creditos {
    margin: 20px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    
    text-align: center;  
    font-family: 'Open Sans', sans-serif;
    background-color: #195c36;
}

#creditos strong {
    color: #84e0ad;
}

.subtitulo {
    font-family: 'fonte-personalizada';
    background-image: linear-gradient(270deg, white,rgba(192, 250, 219, 0.491),rgba(155, 255, 201, 0.491));   
    color: #195c36;
}

.paragrafos {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;

    text-indent: 20px;
    text-align: justify;
    
    color: rgb(0, 0, 0);
}
