@charset "UTF-8";

@media screen {
    * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html {
        background-color: rgb(91, 25, 141);
    }

    body {
        width: 300px;
        background-color: white;
        border-radius: 20px;
        margin: auto;
        margin-top: 60px;
    }
    
    main {
        text-align: center;
        padding: 10px;
    }

    img {
        border-radius: 20px 20px 0px 0px;
        width: 300px;
    }

    h1, main > p {
        margin-bottom: 10px;
    }

    form * {
        margin-bottom: 5px;
    }

    .respostas {
        background-color: purple;
        border-radius: 5px;
        width: 280px;
    }

    #senha, #email {
        height: 30px;
        width: 220px;
        border-radius: 10px;
        border: 0px solid black;
    }

    .botao {
        width: 270px;
        height: 50px;
        border-radius: 5px;
        border: 2px solid rgba(116, 116, 116, 0.395);
        margin: 5px 0px;
    }

    .material-symbols-outlined {
        color: white;
        font-size: 1.5em;
    }
}